* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #2c2c2c;
    color: #fff;
    height: max-content;
    width: 35rem;
    padding: 1.25rem;
    text-align: center;
    overflow: auto;
}

.hidden {
    display: none !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.75rem;
}

.extension-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.extension-icon {
    display: block;
    height: 2.25rem;
}

.extension-title {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1rem;
        font-weight: normal;
    }

    h2 {
        font-size: 0.7rem;
        font-weight: normal;
    }
}

#only-in-drive-message {
    padding: 1.2rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #ff9999;
    margin-block: 1.25rem;
    flex: 1;
}

#download-container {
    width: 100%;
    min-height: 10rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-right: 0.75rem;
}

#download-container::-webkit-scrollbar {
    width: 0.4rem;
}

#download-container::-webkit-scrollbar-track {
    background: none;
    background-color: transparent;
}

#download-container::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0.2rem;
}

.video-item {
    display: flex;
    gap: 0.125rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    background: #444;
    border-radius: 0.25rem;
    width: 100%;
}

.video-title {
    flex: 1;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.download-button:hover {
    color: #ddd;
}

#status-message {
    margin-block: 0.75rem;
    font-size: 0.75rem;
    max-width: 100%;
}

.error {
    color: red;
    font-size: 1.2rem;
}

.button-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.state-button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.state-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.button-on {
    background-color: #4caf50;
    color: white;
}

.button-off {
    background-color: #f44336;
    color: white;
}

.reload-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 0.8rem;
    padding: 0 0.25rem;

    svg {
        vertical-align: bottom;
    }
}

.reload-button.active {
    display: block;
}

.github-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;

    svg {
        margin: 0.125rem;
        vertical-align: bottom;
    }
}
